# ORM이란

- **Object-Relational Mapping**
    - 객체와 관계형 데이터베이스의 데이터를 자동으로 매핑해주는 것을 말합니다.
        - 객체 지향 프로그래밍은 **클래스**를 사용하고, 관계형 데이터베이스는 **테이블**을 사용합니다.
        - 객체 모델과 관계형 모델 간에 불일치가 존재합니다.
        - ORM을 통해 객체 간의 관계를 바탕으로 SQL을 자동으로 생성하여 불일치를 해결해줍니다.
    - 데이터베이스 데이터 <- 매핑 -> Object 필드
        - 객체를 통해 간접적으로 데이터베이스 데이터를 다룹니다.
    - Persistant API라고도 부릅니다.
        - Ex) JPA, Hibernate
    - 장점
        - 객체 지향적인 코드로 인해 더 직관적이고, 비즈니스 로직에 더 집중할 수 있게 도와줍니다.
            - ORM을 이용하면 SQL 쿼리가 아닌 직관적인 코드로 데이터를 조작할 수 있어 개발자가 객체 지향 프로그래밍하는 데 집중할 수 있도록 도와줍니다.
            - 선언문, 할당, 종료 같은 부수적인 코드가 없거나 급격히 줄어듭니다.
            - 각종 객체에 대한 코드를 별도록 작성하기 때문에 코드의 가독성을 올려줍니다.
            - SQL의 절차적이고 순차적인 접근이 아닌 객체 지향적인 접근으로 인해 생산성이 증가합니다.
        - 재사용성 및 유지보수의 편리성이 증가합니다.
            - ORM은 독립적으로 작성되어있고, 해당 객체들을 재활용할 수 있습니다.
            - 이로 인해 모델에서 가공된 데이터를 컨트롤러에 의해 뷰와 합쳐지는 형태로 디자인 패턴을 견고하게 다지는데 유리합니다.
            - 매핑정보가 명확하여 ERD를 보는 것에 대한 의존도를 낮출 수 있습니다.
        - DBMS에 대한 종속성이 줄어듭니다.
            - 대부분 ORM 솔루션은 DB에 종속적이지 않습니다.
            - 종속적이지 않다는 것은 구현 방법 뿐만 아니라 많은 솔루션에서 자료형 타입까지 유효하다는 것입니다.
            - 개발자는 Object에 집중함으로써 극단적으로 DBMS를 교체하는 거대한 작업에도 비교적 적은 리스크와 시간이 소요됩니다.
            - 또한 자바에서 가공할 경우 equals, hashCode의 오버라이드 같은 자바의 기능을 이용할 수 있고, 간결하고 빠른 가공이 가능해집니다.
    - 단점
        - 완벽한 ORM으로만 서비스를 구현하기가 어렵습니다.
            - 사용하기는 편하지만 설계는 매우 신중하게 해야합니다.
            - 프로젝트의 복잡성이 커질 경우 난이도 또한 올라갈 수 있습니다.
            - 잘못 구현된 경우에 속도 저하 및 심각할 경우 일관성이 무너지는 문제점이 생길수 있습니다.
        - 프로시저가 많은 시스템에서는 ORM의 객체 지향적인 장점을 활용하기 어렵습니다.
            - 이미 프로시저가 많은 시스템에서는 다시 객체로 바꿔야함, 그 과정에서 생산성 저하나 리스크가 많이 발생할 수 있습니다.

# SQLAlchemy 엔진

![screen1.png](./screen1.png)

## 문제!! Core과 ORM은 언제 사용해야할까요?

### sqlalchemy 설치하기

In [2]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.4.23)
Requirement already satisfied: greenlet!=0.4.17 in /Users/imtaebin/Library/Python/3.7/lib/python/site-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: importlib-metadata in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sqlalchemy) (1.7.0)
Requirement already satisfied: zipp>=0.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (3.2.0)
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.7/bin/python3.7 -m pip install --upgrade pip' command.

### sqlalchemy 버전 확인

In [3]:
## 문제!! Core과 ORM은 언제 사용해야할까요?import sqlalchemy

sqlalchemy.__version__

'1.4.23'

### mysql과 연동하기

In [ ]:
import pymysql
!pip3 install mysqlclient
pymysql.install_as_MySQLdb()

In [1]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://test:test1234@localhost:3306/common',echo = True)

In [55]:
engine

Engine(mysql+pymysql://test:***@localhost:3306/common)

## Sqlalchemy Core 사용해보기

### table만들어 보기

In [57]:
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String(10)), 
   Column('lastname', String(10)), 
)

meta.create_all(engine)

2021-11-09 22:40:09,962 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-09 22:40:09,963 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2021-11-09 22:40:09,964 INFO sqlalchemy.engine.Engine [cached since 124.4s ago] {'table_schema': 'common', 'table_name': 'students'}
2021-11-09 22:40:09,967 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(10),
	lastname VARCHAR(10),
	PRIMARY KEY (id)
)


2021-11-09 22:40:09,967 INFO sqlalchemy.engine.Engine [no key 0.00084s] {}
2021-11-09 22:40:10,008 INFO sqlalchemy.engine.Engine COMMIT

### insert 해보기

In [60]:
insert = students.insert()
print(insert)

insert = students.insert().values(name='kim', lastname='Anonymous',id=1)
print(insert)

insert.compile().params

INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)
INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)

{'id': 1, 'name': 'kim', 'lastname': 'Anonymous'}

### executing

In [61]:
conn = engine.connect()

insert.bind = engine
str(insert)

result = conn.execute(insert)

result.inserted_primary_key

2021-11-09 22:46:07,839 INFO sqlalchemy.engine.Engine INSERT INTO students (id, name, lastname) VALUES (%(id)s, %(name)s, %(lastname)s)
2021-11-09 22:46:07,840 INFO sqlalchemy.engine.Engine [generated in 0.00104s] {'id': 1, 'name': 'kim', 'lastname': 'Anonymous'}
2021-11-09 22:46:07,843 INFO sqlalchemy.engine.Engine COMMIT

(1,)

### select 해보기

In [64]:
from sqlalchemy.sql import select

query = select([students])
result = conn.execute(query)

for row in result:
    print(row)

2021-11-09 22:48:27,742 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2021-11-09 22:48:27,743 INFO sqlalchemy.engine.Engine [generated in 0.00097s] {}
(1, 'kim', 'Anonymous')

In [14]:
from sqlalchemy import MetaData,Table,select
metadata = MetaData(bind=engine)
students = Table('students', metadata, autoload=True)

conn = engine.connect()
query = select([users])
result = conn.execute(query)

for row in result:
    print(row)

2021-11-10 21:47:15,255 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `students`
2021-11-10 21:47:15,256 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-11-10 21:47:15,260 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2021-11-10 21:47:15,260 INFO sqlalchemy.engine.Engine [cached since 6206s ago] {}
(1, 'kim', 'Anonymous')

### update 해보기

In [16]:
conn = engine.connect()
stmt=students.update().where(students.c.lastname=='Anonymous').values(lastname='Kapoor')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

2021-11-10 21:47:27,008 INFO sqlalchemy.engine.Engine UPDATE students SET lastname=%(lastname)s WHERE students.lastname = %(lastname_1)s
2021-11-10 21:47:27,008 INFO sqlalchemy.engine.Engine [cached since 10.72s ago] {'lastname': 'Kapoor', 'lastname_1': 'Anonymous'}
2021-11-10 21:47:27,013 INFO sqlalchemy.engine.Engine COMMIT
2021-11-10 21:47:27,015 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2021-11-10 21:47:27,015 INFO sqlalchemy.engine.Engine [cached since 10.72s ago] {}

[(1, 'kim', 'Kapoor')]

### delete 해보기

In [17]:
conn = engine.connect()
stmt = students.delete().where(students.c.lastname == 'Kapoor')
conn.execute(stmt)
s = students.select()
conn.execute(s).fetchall()

2021-11-10 21:48:28,895 INFO sqlalchemy.engine.Engine DELETE FROM students WHERE students.lastname = %(lastname_1)s
2021-11-10 21:48:28,896 INFO sqlalchemy.engine.Engine [generated in 0.00065s] {'lastname_1': 'Kapoor'}
2021-11-10 21:48:28,899 INFO sqlalchemy.engine.Engine COMMIT
2021-11-10 21:48:28,901 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2021-11-10 21:48:28,902 INFO sqlalchemy.engine.Engine [cached since 72.61s ago] {}

[]

### SQL Query문 직접 사용해보기

In [19]:
from sqlalchemy import text
t = text("SELECT * FROM students")
result = conn.execute(t)

2021-11-10 21:51:27,769 INFO sqlalchemy.engine.Engine SELECT * FROM students
2021-11-10 21:51:27,770 INFO sqlalchemy.engine.Engine [generated in 0.00086s] {}

## Sqlalchemy ORM 사용해보기

In [29]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class Customers(Base):
   __tablename__ = 'customers'
   
   id = Column(Integer, primary_key = True)
   name = Column(String(256))
   address = Column(String(256))
   email = Column(String(256))
    
Base.metadata.create_all(engine)

2021-11-10 21:59:53,032 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-10 21:59:53,033 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2021-11-10 21:59:53,034 INFO sqlalchemy.engine.Engine [cached since 254.9s ago] {'table_schema': 'common', 'table_name': 'customers'}
2021-11-10 21:59:53,036 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(256),
	address VARCHAR(256),
	email VARCHAR(256),
	PRIMARY KEY (id)
)


2021-11-10 21:59:53,037 INFO sqlalchemy.engine.Engine [no key 0.00067s] {}
2021-11-10 21:59:53,046 INFO sqlalchemy.engine.Engine COMMIT

### Session 생성하기

In [51]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)
session = Session()

### insert하기

In [31]:
c1 = Customers(name = 'Ravi Kumar', address = 'Station Road Nanded', email = 'ravi@gmail.com')

session.add(c1)
session.commit()

2021-11-10 21:59:54,637 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-10 21:59:54,640 INFO sqlalchemy.engine.Engine INSERT INTO customers (name, address, email) VALUES (%(name)s, %(address)s, %(email)s)
2021-11-10 21:59:54,640 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {'name': 'Ravi Kumar', 'address': 'Station Road Nanded', 'email': 'ravi@gmail.com'}
2021-11-10 21:59:54,644 INFO sqlalchemy.engine.Engine COMMIT

### select하기

In [34]:
result = session.query(Customers).all()

for row in result:
   print ("Name: ",row.name, "Address:",row.address, "Email:",row.email)

2021-11-10 22:15:46,242 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
2021-11-10 22:15:46,243 INFO sqlalchemy.engine.Engine [cached since 873.9s ago] {}
1

### where 사용해보기

In [81]:
result = session.query(Customers).filter(Customers.id==1)

for row in result:
   print ("ID:", row.id, "Name: ",row.name, "Address:",row.address, "Email:",row.email)

2021-11-10 22:52:53,383 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id = %(id_1)s
2021-11-10 22:52:53,384 INFO sqlalchemy.engine.Engine [cached since 2179s ago] {'id_1': 1}
ID: 1 Name:  Ravi Kumar Address: Station Road Nanded Email: ravi@gmail.com

### 업데이트 하기

In [96]:
x = session.query(Customers).filter(Customers.id==1).first()
x.address = 'test'
session.commit()

2021-11-10 22:57:21,264 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id = %(id_1)s
 LIMIT %(param_1)s
2021-11-10 22:57:21,265 INFO sqlalchemy.engine.Engine [cached since 19.8s ago] {'id_1': 1, 'param_1': 1}
2021-11-10 22:57:21,267 INFO sqlalchemy.engine.Engine UPDATE customers SET address=%(address)s WHERE customers.id = %(customers_id)s
2021-11-10 22:57:21,268 INFO sqlalchemy.engine.Engine [cached since 77.44s ago] {'address': 'test', 'customers_id': 1}
2021-11-10 22:57:21,269 INFO sqlalchemy.engine.Engine COMMIT

### 삭제하기

In [97]:
x = session.query(Customers).filter(Customers.id==1).first()
session.delete(x)
session.commit()

2021-11-10 22:58:29,017 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-10 22:58:29,018 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.address AS customers_address, customers.email AS customers_email
FROM customers
WHERE customers.id = %(id_1)s
 LIMIT %(param_1)s
2021-11-10 22:58:29,019 INFO sqlalchemy.engine.Engine [cached since 87.56s ago] {'id_1': 1, 'param_1': 1}
2021-11-10 22:58:29,021 INFO sqlalchemy.engine.Engine DELETE FROM customers WHERE customers.id = %(id)s
2021-11-10 22:58:29,022 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {'id': 1}
2021-11-10 22:58:29,023 INFO sqlalchemy.engine.Engine COMMIT

## 문제!! OneToOne? ManyToOne? ManyToMany?

### 관계 형성하기

In [74]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.orm import relationship

class Customer(Base):
   __tablename__ = 'customer'

   id = Column(Integer, primary_key = True)
   name = Column(String(256))
   address = Column(String(256))
   email = Column(String(256))

class Invoice(Base):
   __tablename__ = 'invoices'
   
   id = Column(Integer, primary_key = True)
   custid = Column(Integer, ForeignKey('customer.id'))
   invno = Column(Integer)
   amount = Column(Integer)
   customer = relationship("Customer", back_populates = "invoices")

Customer.invoices = relationship("Invoice", order_by = Invoice.id, back_populates = "customer")
Base.metadata.create_all(engine)

2021-11-10 22:45:39,298 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-10 22:45:39,299 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2021-11-10 22:45:39,300 INFO sqlalchemy.engine.Engine [cached since 2999s ago] {'table_schema': 'common', 'table_name': 'customer'}
2021-11-10 22:45:39,302 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2021-11-10 22:45:39,302 INFO sqlalchemy.engine.Engine [cached since 2999s ago] {'table_schema': 'common', 'table_name': 'invoices'}
2021-11-10 22:45:39,305 INFO sqlalchemy.engine.Engine
CREATE TABLE customer (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(256),
	address VARCHAR(256),
	email VARCHAR(256),
	PRIMARY KEY (id)
)


2021-11-10 22:45:39,305 INFO sqlalchemy.engine.Engine [no key 0.00072s] {}
2021-11-10 22:45:39,313 INFO sqlalchemy.engine.Engine
CREATE TABLE invoices (
	id INTEGER NOT NULL AUTO_INCREMENT,
	custid INTEGER,
	invno INTEGER,
	amount INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(custid) REFERENCES customer (id)
)


2021-11-10 22:45:39,314 INFO sqlalchemy.engine.Engine [no key 0.00066s] {}
2021-11-10 22:45:39,322 INFO sqlalchemy.engine.Engine COMMIT

In [76]:
c1 = Customer(name = "Gopal Krishna", address = "Bank Street Hydarebad", email = "gk@gmail.com")
c1.invoices = [Invoice(invno = 10, amount = 15000), Invoice(invno = 14, amount = 3850)]
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)
session = Session()
session.add(c1)
session.commit()

2021-11-10 22:46:39,106 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-10 22:46:39,108 INFO sqlalchemy.engine.Engine INSERT INTO customer (name, address, email) VALUES (%(name)s, %(address)s, %(email)s)
2021-11-10 22:46:39,108 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {'name': 'Gopal Krishna', 'address': 'Bank Street Hydarebad', 'email': 'gk@gmail.com'}
2021-11-10 22:46:39,111 INFO sqlalchemy.engine.Engine INSERT INTO invoices (custid, invno, amount) VALUES (%(custid)s, %(invno)s, %(amount)s)
2021-11-10 22:46:39,112 INFO sqlalchemy.engine.Engine [generated in 0.00073s] {'custid': 1, 'invno': 10, 'amount': 15000}
2021-11-10 22:46:39,114 INFO sqlalchemy.engine.Engine INSERT INTO invoices (custid, invno, amount) VALUES (%(custid)s, %(invno)s, %(amount)s)
2021-11-10 22:46:39,115 INFO sqlalchemy.engine.Engine [cached since 0.003649s ago] {'custid': 1, 'invno': 14, 'amount': 3850}
2021-11-10 22:46:39,116 INFO sqlalchemy.engine.Engine COMMIT

In [77]:
rows = [
   Customer(
      name = "Govind Kala", 
      address = "Gulmandi Aurangabad", 
      email = "kala@gmail.com", 
      invoices = [Invoice(invno = 7, amount = 12000), Invoice(invno = 8, amount = 18500)]),

   Customer(
      name = "Abdul Rahman", 
      address = "Rohtak", 
      email = "abdulr@gmail.com",
      invoices = [Invoice(invno = 9, amount = 15000), 
      Invoice(invno = 11, amount = 6000)
   ])
]

session.add_all(rows)
session.commit()

2021-11-10 22:46:42,117 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-10 22:46:42,118 INFO sqlalchemy.engine.Engine INSERT INTO customer (name, address, email) VALUES (%(name)s, %(address)s, %(email)s)
2021-11-10 22:46:42,118 INFO sqlalchemy.engine.Engine [cached since 3.011s ago] {'name': 'Govind Kala', 'address': 'Gulmandi Aurangabad', 'email': 'kala@gmail.com'}
2021-11-10 22:46:42,120 INFO sqlalchemy.engine.Engine INSERT INTO customer (name, address, email) VALUES (%(name)s, %(address)s, %(email)s)
2021-11-10 22:46:42,120 INFO sqlalchemy.engine.Engine [cached since 3.013s ago] {'name': 'Abdul Rahman', 'address': 'Rohtak', 'email': 'abdulr@gmail.com'}
2021-11-10 22:46:42,121 INFO sqlalchemy.engine.Engine INSERT INTO invoices (custid, invno, amount) VALUES (%(custid)s, %(invno)s, %(amount)s)
2021-11-10 22:46:42,122 INFO sqlalchemy.engine.Engine [cached since 3.011s ago] {'custid': 2, 'invno': 7, 'amount': 12000}
2021-11-10 22:46:42,123 INFO sqlalchemy.engine.Engine INSERT INTO invoices (custid, invno, amount) VALUES (%(custid)s, %(invno)s, %(amount)s)
2021-11-10 22:46:42,123 INFO sqlalchemy.engine.Engine [cached since 3.012s ago] {'custid': 2, 'invno': 8, 'amount': 18500}
2021-11-10 22:46:42,124 INFO sqlalchemy.engine.Engine INSERT INTO invoices (custid, invno, amount) VALUES (%(custid)s, %(invno)s, %(amount)s)
2021-11-10 22:46:42,124 INFO sqlalchemy.engine.Engine [cached since 3.013s ago] {'custid': 3, 'invno': 9, 'amount': 15000}
2021-11-10 22:46:42,126 INFO sqlalchemy.engine.Engine INSERT INTO invoices (custid, invno, amount) VALUES (%(custid)s, %(invno)s, %(amount)s)
2021-11-10 22:46:42,126 INFO sqlalchemy.engine.Engine [cached since 3.015s ago] {'custid': 3, 'invno': 11, 'amount': 6000}
2021-11-10 22:46:42,127 INFO sqlalchemy.engine.Engine COMMIT

In [78]:
for c, i in session.query(Customer, Invoice).filter(Customer.id == Invoice.custid).all():
   print ("ID: {} Name: {} Invoice No: {} Amount: {}".format(c.id,c.name, i.invno, i.amount))

2021-11-10 22:46:45,076 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-10 22:46:45,079 INFO sqlalchemy.engine.Engine SELECT customer.id AS customer_id, customer.name AS customer_name, customer.address AS customer_address, customer.email AS customer_email, invoices.id AS invoices_id, invoices.custid AS invoices_custid, invoices.invno AS invoices_invno, invoices.amount AS invoices_amount
FROM customer, invoices
WHERE customer.id = invoices.custid
2021-11-10 22:46:45,079 INFO sqlalchemy.engine.Engine [generated in 0.00063s] {}
ID: 1 Name: Gopal Krishna Invoice No: 10 Amount: 15000
ID: 1 Name: Gopal Krishna Invoice No: 14 Amount: 3850
ID: 2 Name: Govind Kala Invoice No: 7 Amount: 12000
ID: 2 Name: Govind Kala Invoice No: 8 Amount: 18500
ID: 3 Name: Abdul Rahman Invoice No: 9 Amount: 15000
ID: 3 Name: Abdul Rahman Invoice No: 11 Amount: 6000

## 문제!! 관계를 지우기 위해서는 어떻게 해야할까?

https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_core_using_aliases.htm