# ORM이란

- **Object-Relational Mapping**
    - 객체와 관계형 데이터베이스의 데이터를 자동으로 매핑해주는 것을 말합니다.
        - 객체 지향 프로그래밍은 **클래스**를 사용하고, 관계형 데이터베이스는 **테이블**을 사용합니다.
        - 객체 모델과 관계형 모델 간에 불일치가 존재합니다.
        - ORM을 통해 객체 간의 관계를 바탕으로 SQL을 자동으로 생성하여 불일치를 해결해줍니다.
    - 데이터베이스 데이터 <- 매핑 -> Object 필드
        - 객체를 통해 간접적으로 데이터베이스 데이터를 다룹니다.
    - Persistant API라고도 부릅니다.
        - Ex) JPA, Hibernate
    - 장점
        - 객체 지향적인 코드로 인해 더 직관적이고, 비즈니스 로직에 더 집중할 수 있게 도와줍니다.
            - ORM을 이용하면 SQL 쿼리가 아닌 직관적인 코드로 데이터를 조작할 수 있어 개발자가 객체 지향 프로그래밍하는 데 집중할 수 있도록 도와줍니다.
            - 선언문, 할당, 종료 같은 부수적인 코드가 없거나 급격히 줄어듭니다.
            - 각종 객체에 대한 코드를 별도록 작성하기 때문에 코드의 가독성을 올려줍니다.
            - SQL의 절차적이고 순차적인 접근이 아닌 객체 지향적인 접근으로 인해 생산성이 증가합니다.
        - 재사용성 및 유지보수의 편리성이 증가합니다.
            - ORM은 독립적으로 작성되어있고, 해당 객체들을 재활용할 수 있습니다.
            - 이로 인해 모델에서 가공된 데이터를 컨트롤러에 의해 뷰와 합쳐지는 형태로 디자인 패턴을 견고하게 다지는데 유리합니다.
            - 매핑정보가 명확하여 ERD를 보는 것에 대한 의존도를 낮출 수 있습니다.
        - DBMS에 대한 종속성이 줄어듭니다.
            - 대부분 ORM 솔루션은 DB에 종속적이지 않습니다.
            - 종속적이지 않다는 것은 구현 방법 뿐만 아니라 많은 솔루션에서 자료형 타입까지 유효하다는 것입니다.
            - 개발자는 Object에 집중함으로써 극단적으로 DBMS를 교체하는 거대한 작업에도 비교적 적은 리스크와 시간이 소요됩니다.
            - 또한 자바에서 가공할 경우 equals, hashCode의 오버라이드 같은 자바의 기능을 이용할 수 있고, 간결하고 빠른 가공이 가능해집니다.
    - 단점
        - 완벽한 ORM으로만 서비스를 구현하기가 어렵습니다.
            - 사용하기는 편하지만 설계는 매우 신중하게 해야합니다.
            - 프로젝트의 복잡성이 커질 경우 난이도 또한 올라갈 수 있습니다.
            - 잘못 구현된 경우에 속도 저하 및 심각할 경우 일관성이 무너지는 문제점이 생길수 있습니다.
        - 프로시저가 많은 시스템에서는 ORM의 객체 지향적인 장점을 활용하기 어렵습니다.
            - 이미 프로시저가 많은 시스템에서는 다시 객체로 바꿔야함, 그 과정에서 생산성 저하나 리스크가 많이 발생할 수 있습니다.

In [2]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.4.23)
Requirement already satisfied: greenlet!=0.4.17 in /Users/imtaebin/Library/Python/3.7/lib/python/site-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: importlib-metadata in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sqlalchemy) (1.7.0)
Requirement already satisfied: zipp>=0.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (3.2.0)
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.7/bin/python3.7 -m pip install --upgrade pip' command.

### sqlalchemy 버전 확인

In [3]:
import sqlalchemy

sqlalchemy.__version__

'1.4.23'

### mysql과 연동하기

In [ ]:
import pymysql
!pip3 install mysqlclient
pymysql.install_as_MySQLdb()

In [54]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://test:test1234@localhost:3306/common',echo = True)

In [55]:
engine

Engine(mysql+pymysql://test:***@localhost:3306/common)

### table만들어 보기

In [57]:
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String(10)), 
   Column('lastname', String(10)), 
)

meta.create_all(engine)

2021-11-09 22:40:09,962 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-09 22:40:09,963 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2021-11-09 22:40:09,964 INFO sqlalchemy.engine.Engine [cached since 124.4s ago] {'table_schema': 'common', 'table_name': 'students'}
2021-11-09 22:40:09,967 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(10),
	lastname VARCHAR(10),
	PRIMARY KEY (id)
)


2021-11-09 22:40:09,967 INFO sqlalchemy.engine.Engine [no key 0.00084s] {}
2021-11-09 22:40:10,008 INFO sqlalchemy.engine.Engine COMMIT

### insert 해보기

In [60]:
insert = students.insert()
print(insert)

insert = students.insert().values(name='kim', lastname='Anonymous',id=1)
print(insert)

insert.compile().params

INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)
INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)

{'id': 1, 'name': 'kim', 'lastname': 'Anonymous'}

### executing

In [61]:
conn = engine.connect()

insert.bind = engine
str(insert)

result = conn.execute(insert)

result.inserted_primary_key

2021-11-09 22:46:07,839 INFO sqlalchemy.engine.Engine INSERT INTO students (id, name, lastname) VALUES (%(id)s, %(name)s, %(lastname)s)
2021-11-09 22:46:07,840 INFO sqlalchemy.engine.Engine [generated in 0.00104s] {'id': 1, 'name': 'kim', 'lastname': 'Anonymous'}
2021-11-09 22:46:07,843 INFO sqlalchemy.engine.Engine COMMIT

(1,)

### select 해보기

In [64]:
from sqlalchemy.sql import select

query = select([students])
result = conn.execute(query)

for row in result:
    print(row)

2021-11-09 22:48:27,742 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2021-11-09 22:48:27,743 INFO sqlalchemy.engine.Engine [generated in 0.00097s] {}
(1, 'kim', 'Anonymous')

### update 해보기

### delete 해보기

In [62]:
meta.bind = engine